<h1>Questions List:</h1>
<%= link_to("Ask New Question", new_question_path) %>
<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to("#{question.title}", question) %>
      <%= link_to(question.upvote) do %>
        <i class="fa fa-paper-plane"></i>
      <% end %>
    </li>
    <p><%= question.content %></p>
  <% end %>
</ul>


